#bottom-nav-bar {
  background-color: black;
  padding-top: 1em;
  padding-bottom: 1em;
}

#bottom-nav-bar a {
  color: white;
  font-size: 2em;
  text-decoration: none;
}

#logo {
  height: 4em;
}

#logoHolder {
  background-color: white;
  color: black;
  padding-top: 0px;
}

#top-nav-bar {
  background-color: black;
  color: white;
}

.middle-content {
  text-align: center;
  padding-top: 1em;
  padding-right: 7em;
  padding-bottom: 1em;
  padding-left: 7em;
}

.nav-element {
  font-size: 2em;
  font-weight: bold;
  padding-top: 1em;                         ;
}

.nav-element a {
  color: white;
  text-decoration: none;
}

.social-media {

}

.visible {
  display: block;
}
