#logo {
  height: 4em;
}

#logoHolder {
  background-color: white;
  color: black;
  padding-top: 0px;
}

#top-nav-bar {
  background-color: black;
  color: white;
}

.nav-element {
  font-size: 2em;
  font-weight: bold;
  padding-top: 1em;                         ;
}

.nav-element a {
  color: white;
  text-decoration: none;
}
